body {
    margin: 0;
    padding: 0;
}

.app__container {
    margin: 0;
    padding:0;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width:100%;
   }
   .app__header {
    margin: 0;
    padding: 25px;
    flex: 0 1 auto;
   }

   .app__body {
    overflow: auto;
    flex: 5 1 auto;    
   }

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 1rem;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}
button {
    /* padding: 0.3rem; */
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: medium;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
