.header {
    background-color: #fcfcf4;
}
.logo__image {
    margin: 0 0.5rem 0 0;
    width: 2rem;
}
.header__nav {
    display: flex;
    flex-direction: row;
    margin: 0 40px 0 10px;
    flex-wrap: wrap;
}
.header__field__logo {
    order: 0;
}
.header__field__menu {
    order: 1;
}
.header__field2 {
    order: 2;
    flex: 2 0px;
}
.header__field__auth {
    order: 3;
}
