.news__space{        
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    gap: 1rem;
    text-align: center;
    width: 100%;
    height: 100%;
    flex: 2 1 auto;
    /* background: #FFFACD; */
}
.news__controls{
    display: flex;
    justify-content: end;
    margin: 0 0.5rem 0 0.5rem;
    text-align: end;
}
.news__add__btn{
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.news__add__btn:hover{
    background-color: #f5f5f5;
}
.news__add__btn:active{
    background-color: #d0d0d0;
}
.news__btn__image {
    margin: 0;
    padding: 0;
    height: 1.6rem;
    padding-top: 0.2rem;
}
.news__btn__title {
    font-size: medium;
    padding: 3px;
}