.post__edit__element__container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
}
.post__edit__main__container{
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
}
.post__edit__article__space{     
    flex: 2 1 auto;
    overflow-y: auto;   
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 0 0.5rem 0 0.5rem;
    padding: 0;
    gap: 1rem;
    text-align: center;
    width: -webkit-fill-available;
    height: 100%;
    background: #fefef4;
}
.post__edit__title{
    flex: 0 1 auto;
    display: flex;
    justify-content: start;
    margin: 0 0.5rem 0 0.5rem;
    text-align: start;
}
.post__edit__title__label{
    flex: 1 0 auto;
    margin: 0 0.4rem 0 0;
}
.post__edit__title__input {
    flex: 1 2 auto;
    width: 100%;
}
.post__edit__article{    
    width: calc(100% - 0.5rem);
    height: 100%;
    overflow: scroll;
}
.post__edit__footer{
    flex: 0 1 auto;    
    display: flex;
    column-gap: 0.5rem;
    justify-content: flex-end;
    margin: 0 0.5rem 1rem 0.5rem;
}