.menu__list {
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    font-size: small;
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
  }
  .menu__item {
    
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .menu__item.sel {
    background: burlywood;
  }